click==7.1.2
Flask==1.1.2
Flask-Login==0.5.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql==0.0.2
mysqlclient==1.4.6
pymongo==3.10.1
pyttsx3==2.81
SpeechRecognition==3.8.1
Werkzeug==1.0.1
wikipedia==1.4.0
